Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Plugins

Content/A_Surface_Footstep
Content/Animations
Content/DemoAssets
Content/FootstepComponent
Content/FootstepSound
Content/Hack_And_Slash_FX
Content/ReactionSystemBP
Content/StarterContent
Content/VFX_Toolkit_V1
